---
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/Calendar.jsx";
import EventCard from "../components/EventCard.jsx";
import ForecastCard from "../components/ForecastCard.jsx";
import { CalendarDays } from "lucide-react";
import { Button } from "@/components/ui/button";

const currentDate = new Date();
const formattedDate = currentDate.toLocaleDateString("es-ES", {
	year: "numeric",
	month: "long",
	day: "numeric",
	weekday: "long",
});
---

<Layout>
	<div
		class="p-4 [&_th]:border-b [&_th]:bg-dark-secondary [&_th]:text-white [&_h2]:text-accent [&_a]:text-white [&_a]:mr-1 [&_.fc-button-group>button]:bg-background! [&_.fc-button-group>button]:border-background! [&_*]:border-transparent! [&_table_tbody>tr>td]:p-2! [&_table_tbody>tr_.fc-daygrid-day-frame]:bg-[#353535] [&_table_tbody>tr_.fc-daygrid-day-frame]:rounded-xl [&_table_tbody>tr_.fc-daygrid-day-frame]:aspect-square [&_.fc-scroller]:overflow[hidden_auto] [&_.fc-scroller]:min-h-fit [&_.fc-day-today]:rounded-2xl"
	>
		<h1 class="text-3xl font-bold mb-2 mt-4 text-white ml-8">Mi Calendario</h1>
		<p class="mb-3 text-lg text-white ml-8">
			Elige una fecha para ver tus eventos y compromisos programados.
		</p>
		<div class="ml-8 mr-8 flex items-start gap-4">
			<div class="w-400">
				<Calendar client:only="react" />
			</div>
			<div class="w-150 bg-dark-secondary ml-2 relative">
				<div class="text-primary text-2xl font-semibold">Agenda del Día</div>
				<div class="text-white">
					Eventos programados para la fecha seleccionada.
				</div>
				<div class="mt-2 mb-3 flex items-start">
					<CalendarDays className="w-5 h-5 text-white mr-2 mt-0.5" />
					<div
						id="selected-date"
						class="text-white"
					>
						{formattedDate}
					</div>
				</div>
				<div class="mt-3">
					<ForecastCard
						title="Previsión"
						time="3:00PM"
						description="Sunny with a high of 75°F."
					/>
				</div>
				<div class="flex max-w-full *:grow gap-4">
					<Button id="new-event-button">+ Nuevo Evento</Button>
					<Button className=" bg-[#9A8B64] hover:bg-[#BFAF7C]/50"
						>Sugerencias IA</Button
					>
				</div>
			</div>
		</div>
	</div>
</Layout>
