---
// src/pages/login.astro
/* import "../styles/login.css";
 */ import astroLogo from "../assets/theweathertrap_logo.svg";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head><div class="text-white">
    <title class="text-white">Log in</title>
  </div>

  <body>
   
  </body>


</html>
